﻿@page
@model IndexModel
@using HackerNewsAPI
@{
    ViewData["Title"] = "Hacker News Feed";
}

<div>
    <form class="form-inline" method="get">
        <label class="sr-only" for="searchBar">Title Keyword Search</label>
        <input type="text" class="form-control mb-2 mr-sm-2" name="search" id="searchBar" 
               placeholder="Title Keyword Search"
               @(Model.search != null ? ("value=" + Model.search + "") : "")>
    </form>
</div>

<div>
    <table class="table table-hover">
        <tr>
            <th>Article</th>
            <th>Author</th>
        </tr>
        @{
            //TODO: Separate this into another page so it can be called over ajax and 
            //give feedback about what is taking so long
            Task<List<NewsOverview>> newsTask = 
                HackerNewsAPI.GetNewStories(Model.resultsPerPage, Model.pageNumber, Model.search);
            newsTask.Wait();
            foreach (NewsOverview newsOverview in newsTask.Result)
            {
                <tr>
                    <td>
                        @{
                            //If the url is null, put in a popover instead of a link
                            if (newsOverview.url != null)
                            {
                                <a href="@newsOverview.url"> @newsOverview.headline</a>
                            }
                            else
                            {
                                <a data-toggle="popover" data-trigger="hover" 
                                    title="Content provider did not supply a link">
                                    @newsOverview.headline
                                </a>
                            }
                        }
                    </td>
                    <td>@newsOverview.author</td>
                </tr>
            }
        }
    </table>
    <div class="d-flex justify-content-center">
        <nav>
            <ul class="pagination">
                <li class="page-item @(Model.isFirstPage() ? "disabled" : "" )">
                    <a class="page-link" @(Model.isFirstPage() ? "tabindex=\"-1\"" : "") href="?page=@(Model.pageNumber-1)#">Previous</a>
                </li>
                @{for (int i = -3; i < 0; i++)
                    {
                        //We need to skip indexes too low, but we need to render from possibly to low upwards
                        if (Model.pageNumber + i < 0)
                        {
                            continue;
                        }
                        //Only show the previous page if there is a previous page
                        <li class="page-item">
                            <a class="page-link" href="?@(Model.getQueryString((Model.PAGE_NUMBER_NAME,(Model.pageNumber + i).ToString())))#">@(Model.pageNumber + i)</a>
                        </li>
                    }}
                <li class="page-item active">
                    <a class="page-link" href="?@(Model.getQueryString((Model.PAGE_NUMBER_NAME,Model.pageNumber.ToString())))#">@(Model.pageNumber)</a>
                </li>
                @{for (int i = 1; Model.pageNumber + 1 > 0 && i <= 3; i++)
                    {
                        //Only show the previous page if there is a previous page
                        <li class="page-item">
                            <a class="page-link" href="?@(Model.getQueryString((Model.PAGE_NUMBER_NAME,(Model.pageNumber + i).ToString())))#">@(Model.pageNumber + i)</a>
                        </li>
                    }}
                <li class="page-item">
                    <a class="page-link" href="?@Model.getQueryString((Model.PAGE_NUMBER_NAME,(Model.pageNumber + 1).ToString()))#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>